@import url(variables.css);

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background: var(--color-body-);
}

header {
    border: black;
}

header ul {
    display: flex;
    gap: 5svw;
    list-style: none;
    padding: 0;
    align-items: center;
}

header ul li {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    padding: 3svh 10svw;
    background-color: var(-color-body);
}


.light {
    display: flex;
    gap: 20px;
}

.light svg {
    height: 5svh;
}


.sect1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35svh;
    background-image: url('../storage/img/fondo.jpg');
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;
}

.sect1 h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: 100;
}



.infoMucho {
    display: flex;
    gap: 3svw;
    padding: 5svh 6svw;
    align-items: flex-start; /* Asegura que aside y section inicien al tope */
}

.infoMucho ul{
    padding: 0;
}

aside {
    width: 65svw; /* Define un ancho relativo */
    position: sticky;
    top: 5svh; /* Desde dónde se empieza a "pegar" */
    align-self: flex-start; /* Para evitar que el aside crezca innecesariamente */
}


.fijo {
    border: solid black;
    padding: 4svh 4svh 4svh 7svh;
    background-color: white; /* Opcional, mejora legibilidad al hacer scroll */
}

.fijo ul {
    display: flex;
    flex-direction: column;
    gap: 2svh;
    font-family:Arial, Helvetica, sans-serif;
}

.listApi li{
    margin-left: 2svw;
    margin-top: 0.6rem;
}

.articulos {
    display: flex;
    flex-direction: column;
    gap: 8svh;
}

.art1 {
    border: solid black;
    padding: 4svh;
    display: flex;
    flex-direction: column;
    gap: 1svw;
}

.art1 h2 {
    font-family:'Courier New', Courier, monospace;
    font-size: 2.3rem;
}

.art1 p {
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

.art1 h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.7rem;
}