:root{
    --color-body-: #fff;
    --transparente-: none;
    --color-fondo-: #0000007d;
    --color-letra-: #fff;
    --color-borde-: #000;
    --letra-: #000000;
    --mi-imagen: url('../storage/img/fondo.jpg');
}

.dark-mode{
    --color-body-: #1d1d1d;
    --transparente-: none;
    --color-borde-: #929292;
    --color-fondo-: #fff;
    --letra-: #ffffff;
    --color-letra-: #000;
    --mi-imagen: url('../storage/img/fondo.jpg');
}