:root{
    --color-1:#FFFFFF;
    --color-2:#354c8f;
    --color-3:#1b347a;
    --color-4:#000000;

}
@font-face {
    font-family:"ComicRelief";
    src: url(../storage/font/ComicRelief-Bold.ttf);
}

@font-face {
    font-family:"TitanOne-Regular";
    src: url(../storage/font/TitanOne-Regular.ttf);
}
@font-face {
    font-family:"IBMPlexMono-Italic";
    src: url(../storage/font/IBMPlexMono-Italic.ttf);
}


@font-face {
    font-family:"CrimsonPro-VariableFont_wght";
    src: url(../storage/font/CrimsonPro-VariableFont_wght.ttf);
}
@font-face {
    font-family:"Comfortaa-VariableFont_wght";
    src: url(../storage/font/Comfortaa-VariableFont_wght.ttf);
}

/* :D */